{% extends 'layout.html' %}
{% block about %}
<!-- about.html starts -->
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <h3> About <i>search suggester </i></h3>
            <p style="text-align: left;font-size:1.25em">
            Have you ever spent too much time looking for an answer to a coding question, only to find that
            most people talking abouto your issue were using slightly different words? Sometimes the slightest difference
            in terminology can be the difference between quickly finding your answer and spending 5-10 minutes (or more!) reading through
            search results and thinking of new queries. 
            <br><br>
            I created <i>search suggester</i> to solve this exact problem.
            <br><br>
            Type in a query that you might use in Stack Overflow, and Search Suggester provides 5 alternatives to consider that may improve 
            your search results. Search Suggester finds synonym-like alternatives, combines them in numerous ways, and returns the combinations 
            that are most probable. It also includes a Query Constructor that puts you back in the driver seat. </p></div>
            <div class="col-sm-2"></div>
            <br><br>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRETekT5fYBxvykJjCgebJu5lwHY0NRbGA0B6PsoDKTdG4MMXOImGRY4boOZ4Tw5VqQzU5xndOnKAc7/embed?start=true&loop=true&delayms=5000" 
            frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<!-- about.html ends -->{% endblock %}